@font-color: #cb925f;
@base-color: #f5f5f5;
@font-color-g:#dedee0;
@font-color-gg:#b4b5b5;
body{
  background: @base-color;
}
.con{
  height: auto;
  min-height: 1000px;
  margin:106px auto 26px;
  max-width: 740px;
  background: #fff;
  padding: 50px;
  box-sizing: border-box;
}
