@font-color: #cb925f;
@base-color: #f5f5f5;
@font-color-g:#dedee0;
@font-color-gg:#b4b5b5;
body{
  background: @base-color;
}
.con{
  min-height: 900px;
  height: auto;
  margin:90px auto 26px;
  max-width: 900px;
  min-width: 900px;
  .con-l{
    box-sizing: border-box;
    height: auto;
    width: 630px;
    float: left;
    overflow: hidden;
    .channel-info{
      padding: 24px;
      background: #fff;
      position: relative;
      .top{
        overflow: hidden;
        position: relative;
        width: 100%;
        .pic{
          float: left;
          width: 108px;
          height: 108px;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .top-r{
          margin-left: 26px;
          float: left;
          height: 110px;
          width: 420px;
          position: relative;
          .button{
            position: absolute;
            right: 0px;
            top: 0px;
            .btn{
              &:hover{
                background-color: rgba(203,146,95,0.7);
              }
              cursor: pointer;
              color: #fff;
              width: 80px;
              height: 28px;
              line-height: 28px;
              background: #cb925f;
              border-radius: 20px;
              box-shadow: 1px 2px 2px #ccc;
              box-sizing: border-box;
            }
          }
          .top-title{
            font-size: 20px;
            color: #1f1f24;
          }
          .top-brief{
            margin-top: 10px;
            font-size: 14px;
            color: #b4b5b5;
            line-height: 20px;
          }
          .c-info{
            position: absolute;
            width: 420px;
            bottom: 0;
            .p{
              color: #1f1f24;
              font-size: 12px;
              .name{
                float: left;
                .active{
                  color: @font-color;
                }
              }
              .update{
                float: right;
              }
            }

          }
        }
      }
      .c-title{
        font-size: 16px;
        line-height: 45px;
        font-weight: 900;
      }
      .text{
        font-size: 14px;
        width: 100%;
        text-align: justify;
        color: #333;
        line-height: 22px;
      }
      .channel-intro{
        margin-top: 20px;
      }
      .suitable-people{
        margin-top: 20px;
      }
      .buy-notice{
        margin-top: 20px;
      }
    }
    .lately-update{
      padding: 24px;
      margin-top: 20px;
      background: #fff;
      .l-list{
        overflow: hidden;
        .l-list-item{
          &:hover{
            cursor: pointer;
            .l-title{
              color: @font-color;
            }
            img{
              transform:scale(1.1);
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
            }
          }
          width: 172px;
          margin:20px 10px 0;
          float: left;
          .l-pic{
            width: 100%;
            height: 114px;
            display: block;
            overflow: hidden;
            img{
              transition:0.5s;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              width: 100%;
              height: 100%;
            }
          }
          .l-title{
            text-align: justify;
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;
            width: 100%;
            height: 55px;
          }
          .l-date{
            line-height: 30px;
            font-size: 12px;
            color: #999;
          }
        }
      }
    }
  }
  .con-r{
    background: #fff;
    box-sizing: border-box;
    height: auto;
    width: 250px;
    float: right;
    padding: 15px;
    .c-list{
      .c-list-item{
        overflow: hidden;
        display: block;
        margin-top: 25px;
        &:hover{
          cursor: pointer;
          .c-p{
            .c-p-title{
              color: @font-color;
            }
          }
          // img{
          //   transform:scale(1.1);
          //   -webkit-transform: scale(1.1);
          //   -moz-transform: scale(1.1);
          // }
        }
        .c-pic{
          width: 80px;
          height: 80px;
          float: left;
          overflow: hidden;
          img{
            width: 100%;
            height: 100%;
            // transition:0.5s;
            // -webkit-transition: 0.5s;
            // -moz-transition: 0.5s;
          }
        }
        .c-p{
          float: left;
          margin-left: 10px;
          width: 120px;
          height: 80px;
          position: relative;
          .c-p-title{
            font-size: 14px;
            line-height: 16px;
          }
          .c-p-brife{
            margin-top: 8px;
            color: #b4b5b5;
            line-height: 16px;
          }
          .c-p-author{
            position: absolute;
            bottom: 0;
            margin-top:14px;
            color: #b4b5b5;
          }
        }
      }
    }
  }
}

.footer{
  background: #1f1f24;
  height: 66px;
  p{
    line-height: 66px;
    color: @font-color-g;
    font-size: 16px;
    width: 100%;
    text-align: center;
    letter-spacing:2px;
  }
}
.title{
  line-height: 25px;
  width: 138px;
  margin:0 auto 0;
  text-align: center;
  position: relative;
  color: #201f24;
  .line-t{
    line-height: 25px;
    background-color:@font-color;
    width: 13px;
    height: 2px;
    margin-top: 12px;
    display: inline-block;
  }
  .title-f{
    font-size: 18px;
  }
  .title-b{
    color: #ababab;
    font-size: 16px;
  }
}
.layer-alert{
  width: 200px;
  height: 200px;
  overflow: hidden;
  p{
    color: @font-color;
    text-align: center;
    line-height: 50px;
  }
  img{
    display: block;
    margin:10px auto;
    width: 100px;
    height: 100px;
  }
}
